<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}" />
</head>

<body>

<li><a href="Cards"> - <h3>Home</h3> - </a></li>
<li><a href="leaderBoard">  - <h3>Leader Board<h3>-  </a></li>

<h1>ABOUT</h1>
<hr>
<h2>Goal</h2>

<p>To collect the most pairs of cards.</p>

<h2>Setup</h2>

<p>Shuffle the cards, and they will be placed face down.</p> 

<h2>Gameplay</h2>

<p>The youngest player goes first. Play then proceeds clockwise.</p>

<p>On each turn, a player turns over two cards (one at a time) and keeps them if they match numbers. If they successfully match a pair of numbers, that player also gets to take another turn.
</p>

<p>When a player turns over two cards that do not match numbers, those cards are turned face down again and the next player plays.
</p>

<h2>Winning the Game</h2>
<p>Once all the cards have been played the player with the most matching pairs is the winner.</p>



<h2>Tip</h2>
<p>Just because it is another players turn doesn't mean you should stop paying attention. The cards that other players flip over could be the match you're looking for. </p>
</html> 
</body>
